# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Unit test / coverage reports
tests/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Project specific
pred.json

# Context:
context.md
